* {
    font-family: 'Varela Round', sans-serif;
}

h1 {
    line-height: 2em;
    margin-top: 0;
}

h2 {
    margin-top: 0px;
}

body {
    padding-bottom: 10em;
}

footer {
    width: 100%;
    bottom: 0;
    position: fixed;
    background-color: white;
}

ul,
li {
    padding: 0;
    margin: 0;
    list-style: none;
    display: inline;
}

input,
textarea {
    margin-bottom: 0em;
}

form {
    margin-bottom: 3em;
}

.jumbotron {
    height: 10em;
    margin-bottom: 1em;
    padding: 0;
    background-color: white;
}

.row {
    margin-left: 0;
    margin-right: 0;
}

.social-icons {
    margin-left: .5%;
    margin-right: .5%;
}

.modal-admin {
    margin-top: 3em;
    margin-left: 1em;
}

#results-section {
    width: 98%;
    height: auto;
    margin-left: 1%;
    margin-right: 1%;
    padding-top: 1em;
    padding-left: 5%;
    padding-right: 5%;
    border: 1px solid black;
    border-radius: 1em;
    background-color: white;
    margin-bottom: 1em; 
}

#map-section {
    width: 98%;
    height: 500px;
    margin-left: 1%;
    margin-right: 1%;
    border: 1px solid black;
}

#form-section {
    border: 1px solid black;
    border-radius: 10px;
    margin-top: 4em;
    margin-bottom: 7em;
    padding-top: 2em;
    padding-right: 2em;
    padding-left: 2em;
    background-color: white;
}

#submit-info-section {
    width: 98%; 
    height: 35em;
    margin-bottom: 5em;
    margin-right: 1%;
    margin-left: 1%;
    text-align: center;
}
