* {
    font-family: 'Varela Round', sans-serif;
}

h1 {
    line-height: 2em;
    margin: 0;
}

h2 {
    margin-top: 0px;
}

h5 {
    font-weight: 900;
}

body {
    padding-bottom: 10em;
}

footer {
    width: 100%;
    bottom: 0;
    position: fixed;
    background-color: white;
}

ul,
li {
    padding: 0;
    margin: 0;
    list-style: none;
    display: inline;
}

input,
textarea {
    margin-bottom: 0em;
}

form {
    margin-bottom: 1em;
}

.jumbotron {
    height: 8em;
    margin-bottom: 0em;
    padding: 0;
    background-color: white;
}

.row {
    margin-left: 0;
    margin-right: 0;
}

.social-icons {
    margin-left: .5%;
    margin-right: .5%;
}

.modal-admin {
    margin-top: 3em;
    margin-left: 1em;
}


#search-section {
    width: 95%;
    height: auto;
    margin-left: 0%;
    margin-right: 0%;
    padding: 1em;
    border: 1px solid lightgrey;
    border-radius: 1em;
    margin-bottom: 2em;
    overflow: hidden;
}

#submit-info-section {
    width: 95%;
    height: auto;
    margin-bottom: 1em;
    padding: 1em;
    border: 1px solid lightgrey;
    border-radius: 1em;
    overflow: hidden;
}

#map-section {
    width: 72%;
    height: 650px;
    margin-top: 0em;
    margin-left: 1%;
    margin-right: 2%;
    border: 1px solid lightgrey;
}

#submit-bathroom {
    margin-top: 1em;
    margin-bottom: 1em;
    /*margin-left: 60%;*/
}

#search-location {
    margin-bottom: 0em;
    /*margin-right: 47;*/
    /*margin-left: 47%;*/
}

@media screen and (max-width:1200px) {

#map-section {
    width: 98.25%;

}

#submit-info-section {
    width: 100%;
}

#search-section {
    width: 100%;
}

}

}
